* {
    font-family: 'Gowun Dodum', sans-serif;
    /* font-family: 'Noto Sans KR', sans-serif; */
}

nav {
    background-color: #26a030;
}

.navbar-brand {
    text-shadow: 3px 3px 3px rgba(255,255,255,0.2);
}

#frontpage { 
    width: 100%;
    height: 600px;
    text-align: center;
    position: relative;
}

#frontpage::after {
    width: 100%;
    height: 600px;
    content: "";
    background: url('./images/workspace-1280538_1280.jpg');
    background-size: 100% 600px;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}

/* 450px 보다 작을 때 */
@media (max-width: 450px) {
    h2 {
        font-size: 40px;
    }

    .text-size-1 {
        font-size: 18px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }
    
    .icon-small {
        width: 20px;
        height: 20px;
    }
    
    .icon-big {
        margin: 10px;
        width: 100px;
    }
    
    .main-content {
        margin-top: 5rem;
    }
    
    .main-hr {
        width: 50px;
        border: 3px solid green;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
    }
    
    #frontpage, #my-intro, #skills, #project, #contact {
        padding-top: 80px;
    }
    
    .section1 {
        height: 40rem;
        border: 1px solid green;
        border-radius: 1cm;
        background-color: rgba(245, 245, 237, 0.678);
    }
    
    .section2 {
        margin-top: 100px;
        height: 30rem;
        border: 1px solid green;
        border-radius: 1cm;
        background-color: rgba(245, 245, 237, 0.678);
    }
    
    .section3 {
        height: 40%;
        margin-left: 10px;
        margin-right: 10px;
        /* border: 1px solid green;
        background-color: rgba(245, 245, 237, 0.678); */
    }
    
    .section4 {
        height: 150%;
        border: 1px solid green;
        background-color: rgba(245, 245, 237, 0.678);
    }
    
    .box {
        background-color: rgba(245, 245, 237, 0.678);
        border: 1px solid green;
        border-radius: 1cm;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #contact {
        padding-top: 30px;
    }
    
    .contact-section {
        height: 15rem;
        border: 1px solid green;
        border-radius: 1cm;
        background-color: rgba(245, 245, 237, 0.678);
    }
    
    .contact-title {
        position: relative;
        margin-left: 2%;
    }
    
    .inline {
        display: inline-block;
        margin-bottom: 0;
        height: 30px;
        text-align: center;
    }
    
    .absolute-text {
        position: absolute;
        top: 0;
        left: 10%;
    }
    
    footer {
        height: 50px;
        background-color: #26a030;
        margin-top: 10px;
    }
        
}

@media (min-width: 540px) {
    h2 {
        font-size: 40px;
    }
    
    .text-size-1 {
        font-size: 27px;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .icon-small {
        width: 20px;
        height: 20px;
    }

    .icon-big {
        margin: 10px;
        width: 200px;
    }

    .main-content {
        margin-top: 5rem;
    }

    .main-hr {
        width: 50px;
        border: 3px solid green;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
    }

    #frontpage, #my-intro, #skills, #project, #contact {
        padding-top: 80px;
    }

    .section1 {
        height: 35rem;
        border: 1px solid green;
        border-radius: 1cm;
        background-color: rgba(245, 245, 237, 0.678);
    }

    .section2 {
        margin-top: 100px;
        height: 30rem;
        border: 1px solid green;
        border-radius: 1cm;
        background-color: rgba(245, 245, 237, 0.678);
    }

    .section3 {
        height: 40%;
        margin-left: 10px;
        margin-right: 10px;
        /* border: 1px solid green;
        background-color: rgba(245, 245, 237, 0.678); */
    }

    .section4 {
        height: 100rem;
        border: 1px solid green;
        background-color: rgba(245, 245, 237, 0.678);
    }

    .box {
        background-color: rgba(245, 245, 237, 0.678);
        border: 1px solid green;
        border-radius: 1cm;
        padding-left: 10px;
        padding-right: 10px;
    }

    #contact {
        padding-top: 30px;
    }

    .contact-section {
        height: 11rem;
        border: 1px solid green;
        border-radius: 1cm;
        background-color: rgba(245, 245, 237, 0.678);
    }

    .contact-title {
        position: relative;
        margin-left: 2%;
    }

    .inline {
        display: inline-block;
        margin-bottom: 0;
        height: 30px;
        text-align: center;
    }

    .absolute-text {
        position: absolute;
        top: 0;
        left: 5%;
    }

    footer {
        height: 50px;
        background-color: #26a030;
        margin-top: 10px;
    }
}
